.app-navbar {
    width: 100%;
    z-index: 1000;
  }
  
  .logo-text {
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  .search-bar {
    max-width: 500px;
    border-radius: 25px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .search-input {
    border: none;
    box-shadow: none !important;
  }
  
  .search-icon {
    background-color: white;
    border: none;
  }
  
  .nav-icon {
    color: #444;
    cursor: pointer;
  }